In [1]:
import os
import pandas as pd
from src.utils import *
from src.data_utils import *

In [3]:
"""when using No updated Hypergraph
"""

# path = 'project_data/paper_author.txt'
# data = Hypergraph(path)


"""when using updated Hypergraph
"""

path = 'save_graph/15000th10threshold.txt'
# path = 'save_graph/25000th10threshold.txt'
data = Updategraph(path)
query = Query()

In [4]:
Degree_difference = []
Max_degree = []
Avg_degree = []
MIN_distance=[]
Avg_cluster_coef = []
Avg_jaccard = []
Hyper_jaccard = []
Adamic_adar = []


# Max_closeness = []
# Avg_closeness = []

# node_close = node_closeness(data)  # dict : node -> value
cluster_coefficient = cluster_coef(data)  # dict : node -> value


for i in range(len(query.query)):

    degs = []
    # clsness = []
    cls_coef = []
    for node in query.query[i]:
        try:
            # clsness.append(node_close[node])
            cls_coef.append(cluster_coefficient[node])
        except:
            # clsness.append(0)
            cls_coef.append(0)

        try:
            degs.append(data.degrees[node])
        except:
            degs.append(0)


    # Max_closeness.append(max(clsness))
    # Avg_closeness.append(np.average(clsness))
    Avg_cluster_coef.append(np.average(cls_coef))
    Max_degree.append(max(degs))
    Degree_difference.append(max(degs) - min(degs))
    Avg_degree.append(np.average(degs))

    min_dist = get_distance(Data_class=data, hyperedge=query.query[i])
    MIN_distance.append(min_dist)
    
    Hyper_jaccard.append(jaccard_hyper(Data_class=data, hyperedge=query.query[i]))
    Avg_jaccard.append(averaged_jaccard_similarity(Data_class=data, edge=query.query[i]))
        
    try:
        Adamic_adar.append(adamic_adar(data, query.query[i]))
    except:
        Adamic_adar.append(0)
    
    if i%500 ==0:
        print(i,"th")

0 th

In [5]:
Answer =[]

for i in range(len(query.query)):
    Answer.append(1*query.answer[i])

In [6]:
dataframe = dict()

dataframe['Degree_difference'] = Degree_difference
dataframe['Max_degree'] = Max_degree
dataframe['Avg_degree'] = Avg_degree
dataframe['MIN_distance'] = MIN_distance
# dataframe['Max_closeness'] = Max_closeness
# dataframe['Avg_closeness'] = Avg_closeness
dataframe['Avg_cluster_coef'] = Avg_cluster_coef
dataframe['Avg_jaccard'] = Avg_jaccard
dataframe['Hyper_jaccard'] = Hyper_jaccard
dataframe['Adamic_adar'] = Adamic_adar

dataframe['Answer'] = Answer

In [7]:
dataframe = pd.DataFrame(dataframe)

In [8]:
dataframe

,Degree_difference,Max_degree,Avg_degree,MIN_distance,Avg_cluster_coef,Avg_jaccard,Hyper_jaccard,Adamic_adar,Answer
0,20,22,10.333333,1,0.142716,0.000000,0.000000,17.369318,0
1,47,49,18.750000,1,0.161767,0.025601,0.000000,17.751648,0
2,1,2,1.500000,7,1.000000,0.333333,0.333333,9.159973,0
3,84,85,44.333333,1,0.053563,0.013109,0.000000,84.614212,1
4,6,7,4.000000,2,0.127273,0.000000,0.000000,37.643577,1
5,1,2,1.500000,2,0.250000,0.000000,0.000000,1.073799,1
6,4,17,15.000000,7,0.132035,0.030303,0.030303,1044.590358,0
7,11,14,8.500000,2,0.104396,0.000000,0.000000,4.104477,1
8,1,5,4.500000,7,0.157143,0.083333,0.083333,4249.625080,0
9,31,32,16.333333,1,0.453482,0.149250,0.024390,196.230355,1

In [ ]:
path = 'processed_data/'
dataframe.to_csv(path+'15000update.csv')